@{
    ViewData["Title"] = "Startsida";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till CV-databasen</h1>
    <p>Här kan du ladda upp ditt CV eller söka efter kandidater.</p>
    
   
</div>