@{
    ViewData["Title"] = "Tack!";
}

<div class="text-center">
    <h2>Tack för din ansökan!</h2>
    <p>Ditt CV har laddats upp och du finns nu sökbar i vår databas.</p>
    <a class="btn btn-primary" asp-controller="Candidate" asp-action="GetCandidatesBySkills">Sök kandidater</a>
</div>